<span *ngIf="!user"></span>
<div class="row" *ngIf="user">
    <div class="col">
        <div class="card card-default">
            <div class="card-body text-center">
                <div class="py-4 container">
                    <img class="image img-fluid rounded-circle img-thumbnail thumb96 " [src]="user?.avatar"
                        (error)="img.src=settings.getUserSetting('avatar')" name="Avatar" #img />
                    <button class="middle btn btn-xs file-upload">
                        <input type="file" ng2FileSelect [uploader]="uploader" (onFileSelected)="ndryshoFoto()"
                            accept="image/png,image/gif,image/jpeg" />
                        <div class="text">
                            <em class="fa fa-camera"></em> Ndrysho Foto
                        </div>
                    </button>
                    <div class="middleLoading ball-scale-ripple-multiple" *ngIf="loading && editavatar">
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                </div>
                <h3 class="m-0 text-bold">{{user?.emer}} {{ user?.mbiemer}}</h3>
            </div>
        </div>
        <div class="card card-default">
            <div class="card-header d-flex align-items-center">
                <div class="d-flex justify-content-center col">
                    <div class="h4 m-0 text-center">Të dhënat personale</div>
                </div>
            </div>
            <div class="card-body">
                <div class="row py-4 justify-content-center">
                    <div class="col-12 col-sm-10">
                        <form class="form-horizontal" [formGroup]="userDataForm" name="userDataForm">
                            <!-- Emer TB -->
                            <div class="form-group row">
                                <label class="text-bold col-xl-2 col-md-3 col-4 col-form-label text-right"
                                    for="emer">Emër</label>
                                <div class="col-xl-10 col-md-9 col-8">
                                    <div class="input-group with-focus input-group-sm">
                                        <input class="form-control" id="emer" type="text" placeholder="Emri juaj"
                                            formControlName="emer" />
                                        <div class="input-group-append">
                                            <a class="input-group-text bg-transparent border-left-0" *ngIf="editemer"
                                                (click)="saveField('emer', userDataForm.controls['emer'].value)"
                                                title="Ruaj Ndryshimet">
                                                <em [ngClass]="{'fa': true, 'fa-pencil-alt' : !editemer, 'fa-save' : editemer}"
                                                    *ngIf="!loading"></em>
                                                <div class="ball-scale-ripple-multiple" *ngIf="loading">
                                                    <div></div>
                                                    <div></div>
                                                    <div></div>
                                                </div>
                                            </a>
                                            <a class="input-group-text bg-transparent border-left-0"
                                                (click)="enableEdit('emer')"
                                                [title]="editemer ? 'Cancel' : 'Ndrysho Emrin'">
                                                <em
                                                    [ngClass]="{'fa': true, 'fa-pencil-alt' : !editemer, 'fa-window-close' : editemer}"></em>
                                            </a>

                                        </div>
                                    </div>
                                    <div class="text-danger" *ngIf="userDataForm.controls['emer'].hasError('required')">
                                        Emri s'mund të lihet bosh.</div>
                                </div>
                            </div>
                            <!-- End Emer TB  -->
                            <!-- Mbiemer TB -->
                            <div class="form-group row">
                                <label class="text-bold col-xl-2 col-md-3 col-4 col-form-label text-right"
                                    for="mbiemer">Mbiemër</label>
                                <div class="col-xl-10 col-md-9 col-8">
                                    <div class="input-group with-focus input-group-sm">
                                        <input class="form-control" id="mbiemer" type="text" placeholder="Mbiemri juaj"
                                            formControlName="mbiemer" />
                                        <div class="input-group-append">
                                            <a class="input-group-text bg-transparent border-left-0" *ngIf="editmbiemer"
                                                (click)="saveField('mbiemer', userDataForm.controls['mbiemer'].value)"
                                                title="Ruaj Ndryshimet">
                                                <em [ngClass]="{'fa': true, 'fa-pencil-alt' : !editmbiemer, 'fa-save' : editmbiemer}"
                                                    *ngIf="!loading"></em>
                                                <div class="ball-scale-ripple-multiple" *ngIf="loading">
                                                    <div></div>
                                                    <div></div>
                                                    <div></div>
                                                </div>
                                            </a>
                                            <a class="input-group-text bg-transparent border-left-0"
                                                (click)="enableEdit('mbiemer')"
                                                [title]="editmbiemer ? 'Cancel' : 'Ndrysho Mbiemrin'">
                                                <em
                                                    [ngClass]="{'fa': true, 'fa-pencil-alt' : !editmbiemer, 'fa-window-close' : editmbiemer}"></em>
                                            </a>

                                        </div>
                                    </div>
                                    <div class="text-danger"
                                        *ngIf="userDataForm.controls['mbiemer'].hasError('required')">
                                        Mbiemri s'mund të lihet bosh.</div>
                                </div>
                            </div>
                            <!-- End Mbiemer TB  -->
                            <!-- Username TB -->
                            <div class="form-group row">
                                <label class="text-bold col-xl-2 col-md-3 col-4 col-form-label text-right"
                                    for="username">Përdoruesi</label>
                                <div class="col-xl-10 col-md-9 col-8">
                                    <div class="input-group with-focus input-group-sm">
                                        <input class="form-control" id="username" type="text" placeholder="Përdoruesi"
                                            formControlName="username" />
                                        <div class="input-group-append">
                                            <a class="input-group-text bg-transparent border-left-0"
                                                *ngIf="editusername"
                                                (click)="saveField('username', userDataForm.controls['username'].value)"
                                                title="Ruaj Ndryshimet">
                                                <em [ngClass]="{'fa': true, 'fa-pencil-alt' : !editusername, 'fa-save' : editusername}"
                                                    *ngIf="!loading"></em>
                                                <div class="ball-scale-ripple-multiple" *ngIf="loading">
                                                    <div></div>
                                                    <div></div>
                                                    <div></div>
                                                </div>
                                            </a>
                                            <a class="input-group-text bg-transparent border-left-0"
                                                (click)="enableEdit('username')"
                                                [title]="editusername ? 'Cancel' : 'Ndrysho Emrin e Përdoruesit'">
                                                <em
                                                    [ngClass]="{'fa': true, 'fa-pencil-alt' : !editusername, 'fa-window-close' : editusername}"></em>
                                            </a>

                                        </div>
                                    </div>
                                    <div class="text-danger"
                                        *ngIf="userDataForm.controls['username'].hasError('required')">
                                        Përdoruesi s'mund të lihet bosh.</div>
                                    <div class="text-danger"
                                        *ngIf="userDataForm.controls['username'].hasError('userNotUnique')">
                                        Ky përdorues egziston.</div>

                                </div>
                            </div>
                            <!-- End Username TB  -->
                            <!-- Email TB -->
                            <div class="form-group row">
                                <label class="text-bold col-xl-2 col-md-3 col-4 col-form-label text-right"
                                    for="email">E-mail</label>
                                <div class="col-xl-10 col-md-9 col-8">
                                    <div class="input-group with-focus input-group-sm">
                                        <input class="form-control" id="email" type="email" placeholder="E-mail"
                                            formControlName="email" />
                                        <div class="input-group-append">
                                            <a class="input-group-text bg-transparent border-left-0" *ngIf="editemail"
                                                (click)="saveField('email', userDataForm.controls['email'].value)"
                                                title="Ruaj Ndryshimet">
                                                <em [ngClass]="{'fa': true, 'fa-pencil-alt' : !editemail, 'fa-save' : editemail}"
                                                    *ngIf="!loading"></em>
                                                <div class="ball-scale-ripple-multiple" *ngIf="loading">
                                                    <div></div>
                                                    <div></div>
                                                    <div></div>
                                                </div>
                                            </a>
                                            <a class="input-group-text bg-transparent border-left-0"
                                                (click)="enableEdit('email')"
                                                [title]="editemail ? 'Cancel' : 'Ndrysho E-mail'">
                                                <em
                                                    [ngClass]="{'fa': true, 'fa-pencil-alt' : !editemail, 'fa-window-close' : editemail}"></em>
                                            </a>

                                        </div>
                                    </div>
                                    <div class="text-danger"
                                        *ngIf="userDataForm.controls['email'].hasError('required')">
                                        E-mail s'mund të lihet bosh.</div>
                                    <div class="text-danger" *ngIf="userDataForm.controls['email'].hasError('email')">
                                        E-mail format i gabuar.</div>
                                </div>
                            </div>
                            <!-- End Email TB  -->
                            <!-- telefon TB -->
                            <div class="form-group row">
                                <label class="text-bold col-xl-2 col-md-3 col-4 col-form-label text-right"
                                    for="telefon">Telefon</label>
                                <div class="col-xl-10 col-md-9 col-8">
                                    <div class="input-group with-focus input-group-sm">
                                        <input class="form-control" id="telefon" type="text" placeholder="Telefon"
                                            formControlName="telefon" />
                                        <div class="input-group-append">
                                            <a class="input-group-text bg-transparent border-left-0" *ngIf="edittelefon"
                                                (click)="saveField('telefon', userDataForm.controls['telefon'].value)"
                                                title="Ruaj Ndryshimet">
                                                <em [ngClass]="{'fa': true, 'fa-pencil-alt' : !edittelefon, 'fa-save' : edittelefon}"
                                                    *ngIf="!loading"></em>
                                                <div class="ball-scale-ripple-multiple" *ngIf="loading">
                                                    <div></div>
                                                    <div></div>
                                                    <div></div>
                                                </div>
                                            </a>
                                            <a class="input-group-text bg-transparent border-left-0"
                                                (click)="enableEdit('telefon')"
                                                [title]="edittelefon ? 'Cancel' : 'Ndrysho Telefon'">
                                                <em
                                                    [ngClass]="{'fa': true, 'fa-pencil-alt' : !edittelefon, 'fa-window-close' : edittelefon}"></em>
                                            </a>

                                        </div>
                                    </div>
                                    <div class="text-danger"
                                        *ngIf="userDataForm.controls['telefon'].hasError('required')">
                                        Telefon s'mund të lihet bosh.</div>
                                    <div class="text-danger" *ngIf="userDataForm.controls['telefon'].hasError('telefon')">
                                        Telefon format i gabuar.</div>
                                </div>
                            </div>
                            <!-- End telefon TB  -->
                            <!-- Adresa TB -->
                            <div class="form-group row">
                                <label class="text-bold col-xl-2 col-md-3 col-4 col-form-label text-right"
                                    for="adresa">Adresa</label>
                                <div class="col-xl-10 col-md-9 col-8">
                                    <div class="input-group with-focus input-group-sm">
                                        <input class="form-control" id="adresa" type="adresa" placeholder="Adresa"
                                            formControlName="adresa" />
                                        <div class="input-group-append">
                                            <a class="input-group-text bg-transparent border-left-0" *ngIf="editadresa"
                                                (click)="saveField('adresa', userDataForm.controls['adresa'].value)"
                                                title="Ruaj Ndryshimet">
                                                <em [ngClass]="{'fa': true, 'fa-pencil-alt' : !editadresa, 'fa-save' : editadresa}"
                                                    *ngIf="!loading"></em>
                                                <div class="ball-scale-ripple-multiple" *ngIf="loading">
                                                    <div></div>
                                                    <div></div>
                                                    <div></div>
                                                </div>
                                            </a>
                                            <a class="input-group-text bg-transparent border-left-0"
                                                (click)="enableEdit('adresa')"
                                                [title]="editadresa ? 'Cancel' : 'Ndrysho Adresen'">
                                                <em
                                                    [ngClass]="{'fa': true, 'fa-pencil-alt' : !editadresa, 'fa-window-close' : editadresa}"></em>
                                            </a>

                                        </div>
                                    </div>
                                    <div class="text-danger"
                                        *ngIf="userDataForm.controls['adresa'].hasError('required')">
                                        Adresa s'mund të lihet bosh.</div>
                                </div>
                            </div>
                            <!-- End Adresa TB  -->
                            <!-- Datelindja TB -->
                            <div class="form-group row">
                                <label class="text-bold col-xl-2 col-md-3 col-4 col-form-label text-right"
                                    for="datelindja">Datëlindja</label>
                                <div class="col-xl-10 col-md-9 col-8">
                                    <div class="input-group with-focus input-group-sm">
                                        <input type="text" id="datelindja" class="form-control" #dp="bsDatepicker"
                                            bsDatepicker [bsValue]="bsValue" name="dp-basic" [bsConfig]="bsConfig"
                                            formControlName="datelindja" autocomplete="off">
                                        <div class="input-group-append">
                                            <a class="input-group-text bg-transparent border-left-0"
                                                *ngIf="editdatelindja"
                                                (click)="saveField('datelindja', userDataForm.controls['datelindja'].value)"
                                                title="Ruaj Ndryshimet">
                                                <em [ngClass]="{'fa': true, 'fa-pencil-alt' : !editdatelindja, 'fa-save' : editdatelindja}"
                                                    *ngIf="!loading"></em>
                                                <div class="ball-scale-ripple-multiple" *ngIf="loading">
                                                    <div></div>
                                                    <div></div>
                                                    <div></div>
                                                </div>
                                            </a>
                                            <a class="input-group-text bg-transparent border-left-0"
                                                (click)="enableEdit('datelindja')"
                                                [title]="editdatelindja ? 'Cancel' : 'Ndrysho Datën e lindjes'">
                                                <em
                                                    [ngClass]="{'fa': true, 'fa-pencil-alt' : !editdatelindja, 'fa-window-close' : editdatelindja}"></em>
                                            </a>

                                        </div>
                                    </div>
                                    <div class="text-danger"
                                        *ngIf="userDataForm.controls['datelindja'].hasError('required')">
                                        Datëlindja s'mund të lihet bosh.</div>
                                </div>
                            </div>
                            <!-- End Datelindja TB  -->
                            <!-- Password TB -->
                            <div class="form-group row">
                                <label class="text-bold col-xl-2 col-md-3 col-4 col-form-label text-right"
                                    for="password">Fjalëkalimi</label>
                                <div class="col-xl-10 col-md-9 col-8">
                                    <div class="input-group with-focus input-group-sm">
                                        <input class="form-control" id="password"
                                            type="{{showOldPass ? 'text' : 'password' }}"
                                            placeholder="Fjalëkalimi Aktual" formControlName="password" />
                                        <div class="input-group-append">
                                            <a class="input-group-text bg-transparent border-left-0"
                                                (click)="showOldPass ? showOldPass = false : showOldPass = true"
                                                *ngIf="editpassword">
                                                <em
                                                    [ngClass]="{'fa': true, 'fa-eye' : !showOldPass, 'fa-eye-slash' : showOldPass}"></em>
                                            </a>
                                            <a class="input-group-text bg-transparent border-left-0"
                                                *ngIf="editpassword"
                                                (click)="saveField('password', userDataForm.controls['newpass'].value)"
                                                title="Ruaj Ndryshimet">
                                                <em [ngClass]="{'fa': true, 'fa-pencil-alt' : !editpassword, 'fa-save' : editpassword}"
                                                    *ngIf="!loading"></em>
                                                <div class="ball-scale-ripple-multiple" *ngIf="loading">
                                                    <div></div>
                                                    <div></div>
                                                    <div></div>
                                                </div>
                                            </a>
                                            <a class="input-group-text bg-transparent border-left-0"
                                                (click)="enableEdit('password')"
                                                [title]="editpassword ? 'Cancel' : 'Ndrysho Fjalëkalimin'">
                                                <em
                                                    [ngClass]="{'fa': true, 'fa-pencil-alt' : !editpassword, 'fa-window-close' : editpassword}"></em>
                                            </a>

                                        </div>
                                    </div>
                                    <div class="text-danger"
                                        *ngIf="userDataForm.controls['password'].hasError('required')">
                                        Fjalëkalimi Aktual s'mund të lihet bosh.</div>
                                    <div class="text-danger"
                                        *ngIf="userDataForm.controls['password'].hasError('invalidPass')">
                                        Fjalëkalimi gabim.</div>
                                </div>
                            </div>
                            <!-- End Password TB  -->
                            <!-- NewPass TB -->
                            <div class="form-group row" *ngIf="editpassword">
                                <label class="text-bold col-xl-2 col-md-3 col-4 col-form-label text-right"
                                    for="newpass">Përsërite</label>
                                <div class="col-xl-10 col-md-9 col-8">
                                    <div class="input-group with-focus input-group-sm">
                                        <input class="form-control" id="newpass"
                                            type="{{showNewPass ? 'text' : 'password' }}"
                                            placeholder="Fjalëkalimi i ri (min. 6)" formControlName="newpass" />
                                        <div class="input-group-append">
                                            <a class="input-group-text bg-transparent border-left-0"
                                                (click)="showNewPass ? showNewPass = false : showNewPass = true">
                                                <em
                                                    [ngClass]="{'fa': true, 'fa-eye' : !showNewPass, 'fa-eye-slash' : showNewPass}"></em>
                                            </a></div>
                                    </div>
                                    <div class="text-danger"
                                        *ngIf="userDataForm.controls['newpass'].hasError('required')">
                                        Fjalëkalimi i ri s'mund të lihet bosh.</div>
                                    <div class="text-danger"
                                        *ngIf="userDataForm.controls['newpass'].hasError('minlength')">
                                        Minimumi 6 Karaktere.
                                    </div>
                                </div>
                            </div>
                            <!-- End NewPass TB  -->
                            <div class="form-group row">
                                <div class="col-md-10">
                                    <button class="btn btn-danger" type="submit" disabled="">Fshi Llogarinë</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>