<div class="item user-block" *ngIf="userBlockIsVisible()" [routerLink]="'/personal/profile'">
    <!-- User picture-->
    <div class="user-block-picture">
        <div class="user-block-status">
            <img class="img-thumbnail rounded-circle" [src]="perdorues?.avatar" (error)="imgUserBlock.src=settings.getUserSetting('avatar')" name="Avatar" #imgUserBlock />
            <div class="circle bg-success circle-lg"></div>
        </div>
    </div>
    <!-- Name and Job-->
    <div class="user-block-info">
        <span class="user-block-name">{{ 'sidebar.WELCOME' | translate }} {{perdorues?.emer}} {{perdorues?.mbiemer}}</span>
        <!-- <span class="user-block-role">
            <a [routerLink]="'/personal/profile'">Profile</a>
        </span> -->
        <span class="user-block-role">
            <a href="" (click)="logOut()">Logout</a>
        </span>
    </div>
</div>