<div *ngIf="!eshteMekanik">
    <div class="content-heading">
        <!-- <div>
        Dashboard
        <small>Mirëseerdhët!</small>
    </div> -->
        <button class="btn btn-labeled btn-secondary mr-2" (click)="editUrdherDiag()">
            <span class="btn-label">
                <i class="fas fa-file-medical-alt"></i>
            </span>
            Urdhër Diagnoze
        </button>
        <button class="btn btn-labeled btn-secondary mr-2" (click)="showUrdherPune = !showUrdherPune">
            <span class="btn-label">
                <i class="fas fa-wrench"></i>
            </span>
            Urdhër Pune
        </button>
    </div>
    <!-- Urdher Diagnoze -->
    <app-new-urdher-diag [showUrdherDiag]="showUrdherDiag" [urdherDiag]="urdherDiag"
        (hapMbyllUDNgaSelf)="hapMbyllNgaUDChild($event)" (shtoUrdheraDiag)="shtoUrdheraDiag($event)">
    </app-new-urdher-diag>
    <!-- End Urdher Diagnoze -->
    <!-- Urdher Pune -->
    <app-urdher-pune [showUrdherPune]="showUrdherPune" (hapMbyllUPNgaSelf)="hapMbyllNgaUPChild($event)"
        (shtoUrdheraPune)="shtoUrdheraPune($event)" width="500px"></app-urdher-pune>
    <!-- End Urdher Pune -->

    <!-- START cards box-->
    <div class="row">
        <div class="col-xl-3 col-md-6">
            <!-- START card-->
            <div class="card flex-row align-items-center align-items-stretch border-0">
                <div class="col-4 d-flex align-items-center bg-primary-dark justify-content-center rounded-left">
                    <em class="fas fa-parking fa-3x"></em>
                </div>
                <div class="col-8 py-1 rounded-right">
                    <div class="h2 mt-0">42</div>
                    <div class="text-uppercase"><small>Mjete në park</small></div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <!-- START card-->
            <div class="card flex-row align-items-center align-items-stretch border-0">
                <div class="col-4 d-flex align-items-center bg-purple-dark justify-content-center rounded-left">
                    <!-- <em class="icon-globe fa-3x"></em> -->
                    <img src="assets/img/repairing.png" />
                </div>
                <div class="col-8 py-1 rounded-right">
                    <div class="h2 mt-0">10</div>
                    <div class="text-uppercase"><small>Mjete në oficinë</small></div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <!-- START card-->
            <div class="card flex-row align-items-center align-items-stretch border-0">
                <div class="col-4 d-flex align-items-center bg-warning-dark justify-content-center rounded-left">
                    <em class="fas fa-users-cog fa-3x"></em>
                </div>
                <div class="col-8 py-1 rounded-right">
                    <div class="h2 mt-0">14</div>
                    <div class="text-uppercase"><small>Punë të pa mbaruara</small></div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <!-- START card-->
            <div class="card flex-row align-items-center align-items-stretch border-0">
                <div class="col-4 d-flex align-items-center bg-success-dark justify-content-center rounded-left">
                    <em class="fas fa-user-md fa-3x"></em>
                </div>
                <div class="col-8 py-1 rounded-right">
                    <div class="h2 mt-0">{{urdheraDiagnoze?.length || 0}}</div>
                    <div class="text-uppercase"><small>Diagnoza Aktive</small></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END cards box-->

<div class="card b" *ngIf="urdheraDiagnoze?.length !== 0">
    <div class="card-body">
        <div style="cursor: pointer;">
            <table class="table table-responsive table-hover">
                <!-- <thead>
                    <tr>
                        <th>Klienti</th>
                        <th>Mjeti</th>
                        <th>Targa</th>
                        <th>Pershkrimi</th>
                        <th></th>
                        <th>Punonjesi</th>
                        <th></th>
                    </tr>
                </thead> -->
                <tbody>
                    <tr *ngFor="let urdherDiag of urdheraDiagnoze" (click)="editUrdherDiag(urdherDiag)">
                        <!-- <td>{{urdherDiag?.klient?.emer}}</td> -->
                        <td>{{urdherDiag?.mjeti?.brand}}</td>
                        <td>{{urdherDiag?.mjeti?.targa}}</td>
                        <td>{{urdherDiag?.perdorues?.username}}</td>
                        <td>{{urdherDiag?.pershkrim}}</td>
                        <td>
                            <i class="fas fa-volume-off text-muted" *ngIf="urdherDiag?.prioriteti == 1"
                                title="Prioritet i ulët"></i>
                            <!-- <i class="icon-volume-off text-muted" *ngIf="urdherDiag?.prioriteti == 1"  title="Prioritet i ulët"></i> -->
                            <i class="fas fa-volume-down text-primary" *ngIf="urdherDiag?.prioriteti == 2"
                                title="Prioritet normal"></i>
                            <!-- <i class="icon-volume-1 text-primary" *ngIf="urdherDiag?.prioriteti == 2" title="Prioritet i normal"></i> -->
                            <i class="fas fa-volume-up text-danger" *ngIf="urdherDiag?.prioriteti == 3"
                                title="Prioritet i lartë"></i>
                            <!-- <i class="icon-volume-2 text-danger" *ngIf="urdherDiag?.prioriteti == 3"  title="Prioritet i lartë"></i> -->
                            <!-- <small>{{urdherDiag?.prioriteti == 1 ? 'i Ulët' : urdherDiag?.prioriteti == 2 ? 'Normal' : urdherDiag?.prioriteti == 3 ? 'i Lartë' : ''}}</small> -->
                        </td>
                        <td>
                            <!-- <em class="fas fa-angle-down" ></em> -->
                            <!-- <em class="fas fas fa-angle-double-down text-success" ></em> -->
                            <img src="assets/img/derguar.png" *ngIf="urdherDiag?.statusi === 1" title="U dergua" />
                            <img src="assets/img/lexuar.png" *ngIf="urdherDiag?.statusi === 2" title="E lexoi" />
                            <em class="fa fa-cog fa-spin text-primary" *ngIf="urdherDiag?.statusi === 3"
                                title="Në punë e sipër"></em>
                            <em class="fas fa-check-circle text-success" *ngIf="urdherDiag?.statusi === 4"
                                title="Përfunduar"></em>

                        </td>
                        <td [title]="urdherDiag?.krijuar | date :'dd MMM yyyy hh:mm:ss'">
                            <small>{{urdherDiag?.krijuar | dateAgo}}</small></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
















<!-- <div class="home-container" *ngIf="eshteMekanik">
    <div class="jumbotron">
        <div class="row">
            <div class="col-xl-3 col-lg-4">
                <div class="text-center" *ngIf="ndermarrje">
                    <img alt="Ndermarrje Logo" class="img-fluid home-logo" [src]="ndermarrje?.logo"
                        (error)="img.src=settings.getAppSetting('logo')" #img />
                </div>
            </div>
            <div class="col-xl-9 col-lg-8 home-text">
                <h1 class="home-text-big">{{ndermarrje?.emer || settings.getAppSetting('emer')}}</h1>
                <p class="lead">{{ndermarrje?.slogan || settings.getAppSetting('slogan')}} <strong>.</strong>
                    <br> <small>{{ndermarrje?.domain || settings.getAppSetting('domain')}}</small>
                </p>
                <p><a class="btn btn-primary btn-lg" href="#">... më shumë</a></p>
            </div>
        </div>
    </div>
</div> -->