<div class="home-container">
    <div class="jumbotron">
        <div class="row">
            <div class="col-xl-3 col-lg-4">
                <div class="text-center">
                    <img alt="Ndermarrje Logo" class="img-fluid home-logo" [src]="ndermarrje?.logo" (error)="img.src=settings.getAppSetting('logo')" #img/>
                </div>
            </div>
            <div class="col-xl-9 col-lg-8 home-text">
                <h1 class="home-text-big">{{ndermarrje?.emer || settings.getAppSetting('emer')}}</h1>
                <p class="lead">{{ndermarrje?.slogan || settings.getAppSetting('slogan')}} <strong>.</strong>
                    <br> <small>{{ndermarrje?.domain || settings.getAppSetting('domain')}}</small>
                </p>
                <p><a class="btn btn-primary btn-lg" href="#">... më shumë</a></p>
            </div>
        </div>
    </div>
</div>