<!-- Field -->
<div class="form-group row">
  <label class="text-bold col-xl-2 col-md-3 col-4 col-form-label text-right" for="emer">Emër</label>
  <div class="col-xl-10 col-md-9 col-8">
    <div class="input-group with-focus">
      <input class="form-control" id="emer" [type]="to.type" [placeholder]="to.placeholder" [formControl]="formControl" />
      <div class="input-group-append">
        <a class="input-group-text bg-transparent border-left-0">
          <em class="fa fa-pencil-alt"></em>
        </a>
      </div>
    </div>
  </div>
</div>
<!-- End Field  -->