<div class="container">
  <div class="component text-component title-block font-size-d-30     ">
  <h2>


    1. Acceptance of the Terms of Use

  </h2>
</div>

<div class="component text-component text-block        ">
  <p>The following terms and conditions, together with any referenced
    documents (collectively, &quot;<b>Terms of Use</b>&quot;) form a legal
    agreement between you and your employer, employees, agents,
    contractors and any other entity on whose behalf you accept these
    terms (collectively, “<b>you</b>” and “<b>your</b>”), and ServiceNow,
    Inc. (“<b>ServiceNow</b>,” “<b>we</b>,” “<b>us</b>” and “<b>our</b>”).
    The Terms of Use apply to the demonstration services available on the
    website where these Terms of Use are presented, including any
    ServiceNow Intellectual Property (as defined below) therein (the
    “<b>Demo Website</b>”).</p>
  <p>By accessing or using the Demo Website, or by clicking to accept or
    agree to the Terms of Use when this option is made available to you,
    you represent that you have read and understood, and agree to be bound
    by these Terms of Use. If you do not agree to these Terms of Use, you
    may not use the Demo Website.</p>
  <p>Personally identifiable information collected about you by this Demo
    Website is treated in accordance with the <a href="/privacy-statement.html">Privacy
      Policy</a>, which is hereby incorporated into these Terms of Use by
    reference. If you do not agree to these Terms of Use or the <a href="/privacy-statement.html">Privacy
      Policy</a>, you must accept these Terms of Use or access the Demo Website.</p>
  <p>
    <b>Access</b></p>
  <p>We reserve the right to terminate or modify the Demo Website in
    whole or in part, in any manner in our sole discretion, without
    notice. We will not be liable if, for any reason, all or any part of
    the Demo Website is unavailable at any time or for any period. From
    time to time, we may restrict access to all or part of the Demo
    Website to a subset of permitted users. You are solely responsible for
    making all arrangements necessary for you to access the Demo Website.</p>
  <p>You shall use the Demo Website exclusively to test and evaluate the
    ServiceNow product and service, and you shall access it only through
    the registration portal, regardless of any previous registration or
    access. To access portions of the Demo Website or certain resources,
    you may be asked to provide certain registration details or other
    information. It is a condition of your use of the Demo Website, and
    you hereby represent and warrant, that all information you provide is
    correct, current and complete. You must logout from the Demo Website
    at the end of each session. You agree that you are solely responsible
    to us for all activities identified with your access and registration.
    ServiceNow has the absolute right to disable any user name or
    password, at any time, for any reason, including, if in our sole
    discretion we believe that you have failed to comply with any
    provision of these Terms of Use.</p>
  <p>
    <b>Data Visible to Other Users</b></p>
  <p>The Demo Website is a collection of shared instances that
    automatically reset on a timed schedule. Anything input by a user of
    the Demo Website that remains on an instance following your use will
    be visible and usable to all other users that access the same instance
    before it is reset. In addition to the rights provided to ServiceNow
    above, you hereby grant to all users of the Demo Website a
    royalty‑free, fully‑paid, non‑exclusive, non‑transferable,
    sub‑licensable, worldwide right to use any data and intellectual
    property provided by you to each other user of the Demo Website solely
    to use the Demo Website as described herein.</p>

</div>









<div class="background-component space     space-sm-bottom background-extra-wide">

  



    <div class="component text-jumbo-new-component variation-1  text-left text-center-mobile"
      data-component-name="textJumbo">












      <div class="component text-component title-block  font-size-d-30     ">
        <h2>


          2. Prohibited Uses

        </h2>
      </div>
















      <div class="component text-component text-block">
        <p>You agree not to access or use (and shall not permit others to access
          or use) the Demo Website or ServiceNow Intellectual Property in any manner:</p>
        <ul>
          <li>Other than for product evaluation purposes (specifically
            excluding product demonstration, development, or any production or
            commercial purposes).</li>
          <li>To process, use, transmit or
            introduce any confidential or sensitive information of any kind,
            including personally identifiable information, sensitive personal
            data, health information of any kind, or factual data regarding your
            employees or third data, and particularly excluding: (1) information
            protected under the privacy or security regulations issued pursuant
            to the Health Insurance Portability and Accountability Act of 1996
            (HIPAA) or subject to the Health Information Technology for Economic
            and Clinical Health (HITECH) Act; or (2) non‑public sensitive or
            personally identifiable information including but not limited to
            drivers license numbers, passport numbers, social security numbers,
            tax identification numbers, voter registration numbers or similar
            identifying numbers, health information, or financial information
            including bank, checking, credit card, debit card, or other account
            numbers.</li>
          <li>To license, sub‑license, sell, re‑sell, rent, lease,
            transfer, distribute or time share or otherwise make them available
            for access by third parties.</li>
          <li>To disassemble, reverse
            engineer, decompile or modify them or otherwise create derivative
            works of them.</li>
          <li>To access them for the purpose of developing
            a product or service that competes with a ServiceNow Product.</li>
          <li>To use them to create, use, send, store or run viruses or other
            harmful computer code, files, scripts, agents or other programs or
            engage in any other malicious act.</li>
          <li>To disrupt their
            security, integrity or operation.</li>
          <li>To remove or modify a
            copyright or other proprietary rights notice in them.</li>
          <li>To
            use them to reproduce, distribute, display, transmit or use material
            protected by copyright or other intellectual property right
            (including the rights of publicity or privacy) without first
            obtaining the permission of the owner.</li>
          <li>To use them to
            damage the property of another.</li>
          <li>That violates any
            applicable federal, state, local or international law or regulation,
            or advocates, promotes or assists in any unlawful act, constitutes
            an illegal threat or violates export control laws.</li>
          <li>That
            temporarily or permanently alters, erases, removes, copies,
            modifies, halts or disables any ServiceNow or third party data,
            software or network.</li>
          <li>That violates the rights of any person
            or entity that may give rise to civil or criminal liability under
            applicable laws or regulations applicable to you, another user,
            and/or ServiceNow, including violation of privacy or publicity
            rights, infringement of any copyright, patent, trademark, trade
            secret or other intellectual property right, or conflicts with these
            Terms of Use or the Privacy Policy.</li>
          <li>To transmit or
            introduce offensive materials, including those involving profanity,
            violence, sexual conduct, pornography or discrimination based on
            race, sex, religion, nationality, disability, sexual orientation or
            age.</li>
          <li>To monitor or attempt to gain unauthorized access to:
            (1) an account or computer not belonging to you; (2) any data,
            information or communications on any network or system not owned by
            you, without authorization; (3) any system or network user accounts
            or passwords of other users, without authorization; or (4) e‑mail
            addresses, screen names or other identifiers without the consent of
            the person identified (including, without limitation, phishing,
            password robbery, spidering and harvesting).</li>
          <li>That is false,
            deceptive, misleading or fraudulent, including but not limited to:
            (1) any attempt to impersonate any person or entity, including any
            other user, ServiceNow or a ServiceNow employee; (2) to misrepresent
            your identity or affiliation with any person or organization; and
            (3) any attempt to give the impression that you are posting
            materials from any person or entity other than yourself if that is
            not the case, including but not limited to altering your IP source
            address.</li>
          <li>To monitor or copy materials on the Demo Website for
            any unauthorized purpose or access the Demo Website via any
            automatic device, process or means of access such as a robot or
            spider.</li>
          <li>That may have a detrimental effect on the Demo
            Website’s function, user interaction or security, including but not
            limited to: (1) gaining unauthorized access to, or attempting to
            compromise the security of, any network, system, computing facility,
            equipment, data or information; (2) attempting to intercept,
            redirect or otherwise interfere with communications intended for
            others; (3) disabling, damaging overburdening or impairing the Demo
            Website or any server, computer or database connected to or accessed
            by the Demo Website; (4) modifying, blocking or otherwise
            interfering with the display of the Demo Website; (5) interfering
            with another user’s ability to access, use and enjoy the Demo
            Website; (6) accessing another user’s registration information or
            user account without that user’s express written permission;
            (7) transmitting or introducing any malicious or technologically
            harmful element to the Demo Website such as a spyware program,
            virus, Trojan horse, worm or logic bomb; (8) performing, without
            ServiceNow’s express prior written authorization, scalability
            testing, load testing, probing, scanning, penetration or
            vulnerability testing of the Demo Website, including without
            limitation the Community Services; and (9) engaging in any
            activities that results in any server being the target of a denial
            of service attack.</li>
        </ul>
        <p>
          <b>Notification of Violation</b></p>
        <p>If you become aware of any violation of these Terms of Use by any
          person, including other users or third parties, you shall immediately
          notify ServiceNow via e‑mail to <a href="mailto:info@servicenow.com">info@servicenow.com</a>.</p>

      </div>





    </div>




  </div>

</div>


















<div class="background-component space     space-sm-bottom background-extra-wide">

  <div class="container">



    <div class="component text-jumbo-new-component variation-1  text-left text-center-mobile"
      data-component-name="textJumbo">












      <div class="component text-component title-block  text-light  font-size-d-30     ">
        <h2>


          3. Intellectual Property

        </h2>
      </div>
















      <div class="component text-component text-block        ">
        <p>As between you and ServiceNow, all rights, title and interest in and
          to all the intellectual property rights in the ServiceNow Intellectual
          Property are owned exclusively by ServiceNow and its licensors,
          notwithstanding any other provision in these Terms of Use or any other
          agreement. The ServiceNow Intellectual Property is protected by United
          States and international laws regarding copyrights, trademarks, trade
          secrets and other intellectual property or proprietary rights. As used
          herein, “<b>ServiceNow Intellectual Property</b>” means the
          information, text, displays, images, video, audio, and user interfaces
          included in or generated by the Demo Website, and the design,
          selection and arrangement thereof, as well as the technology that is
          used by ServiceNow to deliver the Demo Website, including: (a)
          software code (whether in source or object form) including platforms
          and applications, hardware, algorithms, templates, graphical user
          interfaces, architectures, class libraries, application programming
          interfaces, objects, methodologies, and documentation (both printed
          and electronic) in existence as of the Effective Date or otherwise
          acquired or developed by ServiceNow apart from the services rendered
          under these Terms of Use; and (b) any derivative works, improvements,
          enhancements or extensions of the foregoing made by ether you or
          ServiceNow. Except as expressly provided in this Agreement, ServiceNow
          does not grant you (and expressly reserves) any rights, express or
          implied, or ownership in the ServiceNow Intellectual Property. No
          right, title or interest in or to the Demo Website is transferred to
          you. ServiceNow reserves all rights not expressly granted to you
          herein. You hereby grant to ServiceNow a royalty‑free, fully‑paid,
          non‑exclusive, non‑transferable, sub‑licensable, worldwide right to
          use: (a) electronic data uploaded or processed by you to the Demo
          Website; and (b) any software, methodologies, templates, business
          processes, documentation or other material authored, invented or
          otherwise created by you using or for use with the ServiceNow
          Intellectual Property provided by you to ServiceNow solely to provide
          the Demo Website. Customer Technology does not include, and Customer
          will have no ownership of intellectual property in, ServiceNow Core
          Technology. Any use of the Demo Website not expressly permitted by
          these Terms of Use is a breach of these Terms of Use and may violate
          copyright, trademark and other laws. You are permitted to use the Demo
          Website only for legitimate business purposes related to your role as
          a current or prospective customer, supplier or partner of ServiceNow.
          You shall not copy, modify, create derivative works of, publicly
          display or perform, republish, download or store, or transmit any
          ServiceNow Intellectual Property without ServiceNow’s express prior
          written consent or except as expressly provided in these Terms of Use.</p>
        <p>
          <b>ServiceNow Trademarks</b></p>
        <p>
          <i>ServiceNow</i>, “<i>now</i>” with a stylized power button, the
          “NOW” family of marks, and all related, logos, product and service
          names, designs and slogans are trademarks or service marks of
          ServiceNow or our affiliates or licensors. You must not use such marks
          without our prior written permission. All other names, brands and
          marks are used for identification purposes only and are the trademarks
          of their respective owners.</p>

      </div>





    </div>




  </div>

</div>

























<div class="background-component space     space-sm-bottom background-extra-wide">

  <div class="container">



    <div class="component text-jumbo-new-component variation-1  text-left text-center-mobile"
      data-component-name="textJumbo">












      <div class="component text-component title-block  text-light  font-size-d-30     ">
        <h2>


          4. Monitoring, Enforcement and Feedback

        </h2>
      </div>
















      <div class="component text-component text-block        ">
        <p>The Demo Website is a shared environment. ServiceNow has the right
          but not the obligation to:</p>
        <ul>
          <li>Terminate your access to all or part of the Demo Website for
            any reason or no reason, in our sole discretion, including without
            limitation any violation of these Terms of Use or the Privacy
            Policy.</li>
          <li>Disclose your identity to any third party who claims
            that material posted by you violates their rights, including their
            intellectual property rights or their right to privacy.</li>
          <li>Take appropriate legal action, including without limitation,
            referral to law enforcement, for any illegal or unauthorized use of
            the Demo Website.</li>
        </ul>
        <p>Without limiting the foregoing, ServiceNow has the right to fully
          cooperate with any law enforcement authorities or court order
          requesting or directing us to disclose the identity of anyone
          including any materials on or through the Demo Website. YOU WAIVE AND
          HOLD SERVICENOW HARMLESS FROM ANY CLAIMS RESULTING FROM ANY ACTION
          TAKEN BY SERVICENOW DURING OR AS A RESULT OF ITS INVESTIGATIONS AND
          FROM ANY ACTIONS TAKEN AS A CONSEQUENCE OF INVESTIGATIONS BY EITHER
          SERVICENOW OR LAW ENFORCEMENT AUTHORITIES.</p>
        <p>ServiceNow can neither review all material before it is included on
          the Demo Website nor ensure prompt removal of objectionable material
          after it has been posted and assumes no liability for any action or
          inaction regarding transmissions, communications or content provided
          by any user or third parties. We have no liability or responsibility
          to anyone for performance or nonperformance of the activities
          described in this paragraph.</p>
        <p>
          <b>Feedback &amp; Suggestions</b></p>
        <p>Direct feedback, comments, suggestions, requests for support and
          other communications relating to the Demo Website to: <a
            href="mailto:info@servicenow.com">info@servicenow.com</a>. ServiceNow
          shall have a royalty‑free, worldwide, non‑exclusive, transferable,
          sub‑licensable, irrevocable, perpetual right and license to make, use,
          sell, offer for sale, import or otherwise incorporate for any purpose,
          any feedback, and suggestions for improvements or enhancements to the
          Demo Website and the ServiceNow Products.</p>

      </div>





    </div>




  </div>

</div>























<div class="background-component space     space-sm-bottom background-extra-wide">

  <div class="container">



    <div class="component text-jumbo-new-component variation-1  text-left text-center-mobile"
      data-component-name="textJumbo">












      <div class="component text-component title-block  text-light  font-size-d-30     ">
        <h2>


          5. Legal Considerations

        </h2>
      </div>
















      <div class="component text-component text-block        ">
        <p>
          <b>Regional Legal Considerations</b></p>
        <p>The owner of the Demo Website is based in the state of California in
          the United States. The Demo Website can be accessed from countries
          around the world. Access to the Demo Website may not be legal by
          certain persons or in certain countries. If you access the Demo
          Website from outside the United States, you do so on your own
          initiative and are responsible for compliance with local laws. Access
          to the Demo Website from territories where the Demo Website or any of
          its services or products are illegal is prohibited. You acknowledge
          that you remain responsible at all times for your compliance with U.S.
          and all applicable export and related statutes and regulations.</p>
        <p>
          <b>Disclaimer of Warranties</b></p>
        <p>ServiceNow cannot and does not promise or warrant that any aspect of
          the Demo Website is free of viruses or other destructive code. You are
          responsible for implementing sufficient procedures and checkpoints to
          satisfy your particular requirements for anti‑virus protection and
          accuracy of data input and output, and for maintaining a means
          external to our site for any reconstruction of any lost data. WE WILL
          NOT BE LIABLE FOR ANY LOSS OR DAMAGE CAUSED BY A DISTRIBUTED
          DENIAL‑OF‑SERVICE ATTACK, VIRUSES OR OTHER TECHNOLOGICALLY HARMFUL
          MATERIAL THAT MAY INFECT YOUR COMPUTER EQUIPMENT, COMPUTER PROGRAMS,
          DATA OR OTHER PROPRIETARY MATERIAL DUE TO YOUR USE OF THE DEMO WEBSITE
          OR ANY SERVICES OR ITEMS OBTAINED THROUGH THE DEMO WEBSITE OR TO YOUR
          DOWNLOADING OF ANY MATERIAL POSTED ON IT, OR ON ANY WEBSITE LINKED TO IT.</p>
        <p>YOUR USE OF THE DEMO WEBSITE, INCLUDING ANY WEBSITE CONTENT, AND ANY
          SERVICES OR ITEMS OBTAINED THROUGH THE DEMO WEBSITE, IS AT YOUR OWN
          RISK AND PROVIDED ON AN &quot;AS IS&quot; AND &quot;AS AVAILABLE&quot;
          BASIS, WITHOUT ANY WARRANTIES OF ANY KIND, EITHER EXPRESS OR IMPLIED.
          NEITHER SERVICENOW NOR ANY PERSON ASSOCIATED WITH SERVICENOW MAKES ANY
          WARRANTY OR REPRESENTATION WITH RESPECT TO THE COMPLETENESS, SECURITY,
          RELIABILITY, QUALITY, ACCURACY OR AVAILABILITY OF THE DEMO WEBSITE.
          WITHOUT LIMITING THE FOREGOING, NEITHER SERVICENOW NOR ANYONE
          ASSOCIATED WITH SERVICENOW REPRESENTS OR WARRANTS THAT THE DEMO
          WEBSITE WILL BE ACCURATE, RELIABLE, ERROR‑FREE OR UNINTERRUPTED, THAT
          DEFECTS WILL BE CORRECTED, THAT OUR SITE OR THE SERVER THAT MAKES IT
          AVAILABLE ARE FREE OF VIRUSES OR OTHER HARMFUL COMPONENTS OR THAT THE
          DEMO WEBSITE OR ANY SERVICES OR ITEMS OBTAINED THROUGH THE DEMO
          WEBSITE WILL OTHERWISE MEET YOUR NEEDS OR EXPECTATIONS.</p>
        <p>SERVICENOW HEREBY DISCLAIMS ALL WARRANTIES OF ANY KIND, EITHER
          EXPRESS OR IMPLIED, STATUTORY OR OTHERWISE, WITH RESPECT TO THE DEMO
          WEBSITE AND THE WEBSITE CONTENT, INCLUDING BUT NOT LIMITED TO ANY
          WARRANTIES OF MERCHANTABILITY, NON‑INFRINGEMENT AND FITNESS FOR
          PARTICULAR PURPOSE.</p>
        <p>THE FOREGOING DOES NOT AFFECT ANY WARRANTIES WHICH CANNOT BE
          EXCLUDED OR LIMITED UNDER APPLICABLE LAW.</p>
        <p>
          <b>Limitation of Liability</b></p>
        <p>EXCEPT TO THE EXTENT THAT A DISCLAIMER OF LIABILITY IS PROHIBITED
          UNDER APPLICABLE LAW, IN NO EVENT WILL SERVICENOW, ITS AFFILIATES AND
          ITS LICENSORS, SERVICE PROVIDERS, EMPLOYEES, AGENTS, OFFICERS AND
          DIRECTORS BE LIABLE FOR DAMAGES OF ANY KIND, UNDER ANY LEGAL THEORY,
          ARISING OUT OF OR IN CONNECTION WITH YOUR USE, OR INABILITY TO USE,
          THE DEMO WEBSITE, INCLUDING ANY WEBSITE CONTENT, INCLUDING ANY DIRECT,
          INDIRECT, SPECIAL, INCIDENTAL, CONSEQUENTIAL OR PUNITIVE DAMAGES,
          INCLUDING BUT NOT LIMITED TO, PERSONAL INJURY, PAIN AND SUFFERING,
          EMOTIONAL DISTRESS, LOSS OF REVENUE, LOSS OF PROFITS, LOSS OF BUSINESS
          OR ANTICIPATED SAVINGS, LOSS OF USE, LOSS OF GOODWILL, LOSS OF DATA,
          AND WHETHER CAUSED BY TORT (INCLUDING NEGLIGENCE), BREACH OF CONTRACT
          OR OTHERWISE, EVEN IF FORESEEABLE.</p>
        <p>
          <b>Indemnification</b></p>
        <p>You agree to defend, indemnify and hold ServiceNow, its affiliates
          and licensors and their respective officers, directors, employees,
          contractors, agents, licensors and suppliers harmless from and against
          any claims, liabilities, damages, judgments, awards, losses, costs,
          expenses or fees (including reasonable attorneys' fees and other costs
          of defense) resulting from your violation of these Terms of Use or
          your use of the Demo Website, including, without limitation, any use
          of the Demo Website's content, services and products other than as
          expressly authorized in these Terms of Use or your use of any
          information obtained from the Demo Website.</p>
        <p>
          <b>Governing Law and Jurisdiction</b></p>
        <p>These Terms of Use and any dispute or claim arising out of, or
          related to, them, their subject matter or their formation (in each
          case, including non‑contractual disputes or claims) shall be governed
          by and construed in accordance with the internal laws of the State of
          California in the United States without giving effect to any choice or
          conflict of laws provision or rule (whether of the State of California
          or any other jurisdiction).</p>
        <p>Any legal suit, action or proceeding arising out of, or related to,
          these Terms of Use or the Demo Website shall be instituted exclusively
          in the federal courts of the United States or the courts of the State
          of California, in each case located in the Santa Clara, California
          although we retain the right to bring any suit, action or proceeding
          against you for breach of these Terms of Use in your country of
          residence or any other relevant country. You hereby irrevocably waive
          any and all objections to the exercise of jurisdiction over you by
          such courts and to venue in such courts.</p>
        <p>
          <b>Export Restrictions</b></p>
        <p>You may not access, download, use or export materials posted to the
          Demo Website in violation of U.S. export laws or regulations,
          including the Export Administration Regulations (EAR), or in violation
          of any other applicable export or import laws or regulations. You
          agree to comply with all export laws and restrictions and regulations
          of any United States or foreign agency or authority.</p>
        <p>
          <b>Waiver and Severability</b></p>
        <p>No waiver of these Terms of Use by ServiceNow shall be deemed a
          further or continuing waiver of such term or condition or any other
          term or condition, and any failure of ServiceNow to assert a right or
          provision under these Terms of Use shall not constitute a waiver of
          such right or provision.</p>
        <p>If any provision of these Terms of Use is held by a court of
          competent jurisdiction to be invalid, illegal or unenforceable for any
          reason, such provision shall be eliminated or limited to the minimum
          extent such that the remaining provisions of the Terms of Use will
          continue in full force and effect.</p>
        <p>
          <b>Third Party Beneficiaries</b></p>
        <p>There are no third‑party beneficiaries to this agreement.</p>
        <p>
          <b>Classification of Website and ServiceNow Products</b></p>
        <p>In the event of a dispute, the categorization of any subject matter
          as either the Demo Website or a ServiceNow Product shall be made by
          ServiceNow in its sole discretion, and ServiceNow may reclassify as a
          ServiceNow Product subject matter previously included in the Demo Website.</p>
        <p>
          <b>Termination</b></p>
        <p>ServiceNow may terminate these Terms of Use at any time for any
          reason by giving you written notice, and all licenses, permissions and
          other rights granted to you hereunder shall immediately terminate.
          Notwithstanding the termination of this Agreement for any reason,
          Sections 3 and 5 herein shall survive.</p>
        <p>
          <b>Entire Agreement</b></p>
        <p>The Terms of Use and our Privacy Policy constitute the sole and
          entire agreement between you and ServiceNow with respect to the Demo
          Website and supersede all prior and contemporaneous understandings,
          agreements, representations and warranties, both written and oral,
          with respect to the Demo Website. For the avoidance of doubt, these
          Terms of Use do not supersede any Master Ordering Agreement,
          subscription agreement or other agreement pursuant to which you have
          been granted the right to use or access a ServiceNow product or service.</p>
        <p>© ServiceNow, Inc. All rights reserved.</p>

      </div>





    </div>




  </div>

</div>