<!-- <ngx-select [allowClear]="true" [items]="klientet" [disabled]="disabled" (data)="refreshValue($event)"
    (selected)="selected($event)" (removed)="removed($event)" (typed)="kerko($event)" placeholder="No city selected">
</ngx-select> -->

<div class="card card-default">
    <div class="card-header">Klientet total {{klientet?.length}}
        <div class="mr-auto float-right">
            <!-- <div class="btn-group" dropdown>
                <button class="btn btn-link" dropdownToggle>
                    <em class="fa fa-ellipsis-v fa-lg"></em>
                </button>
                <ul *dropdownMenu class="dropdown-menu dropdown-menu-right-forced animated fadeIn" role="menu">
                    <button class="dropdown-item" (click)="showNewKlient()">
                        <em class="far fa-address-card mr-2"></em>
                        <span>Klient i ri</span>
                    </button>
                    <button class="dropdown-item" (click)="importClient.show()">
                        <em class="fas fa-download mr-2"></em>
                        <span>Import Klient nga Financa</span>
                    </button>
                </ul>
            </div> -->
            <button class="btn btn-xs btn-secondary" (click)="showNewKlient()">Reg_Klient</button>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Emer</th>
                    <th>Telefon</th>
                    <th>Email</th>
                    <th>Person</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let klient of klientet">
                    <td>{{klient?.emer}}</td>
                    <td>{{klient?.telefon}}</td>
                    <td>{{klient?.email}}</td>
                    <td>{{klient?.person}}</td>
                    <td>
                        <a class="btn btn btn-square btn-primary mb-1 btn-xs"
                            title="Kartela e klientit '{{klient?.emer}} {{klient?.mbiemer}}'"
                            [routerLink]="['/klientet/', klient.id]">
                            <i class="fa fa-pencil-alt"></i>
                        </a>
                    </td>
                    <!-- <td>
                        <button class="btn btn btn-square btn-danger mb-1 btn-xs"
                            title="Fshi klientin '{{klient?.emer}} {{klient?.mbiemer}}'">
                            <i class="fa fa-window-close"></i>
                        </button>
                    </td> -->
                </tr>
            </tbody>
        </table>
    </div>
</div>



<div bsModal #newClient="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Klient i ri</h4>
                <button type="button" class="close" aria-label="Close" (click)="newClient.hide()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-6" >
                        <form [formGroup]="newKlientForm" id="newKlientForm"
                            (submit)="regNewKlient($event, newKlientForm.value)">
                            <div class="form-group">
                                <select class="form-control" formControlName="person">
                                    <option [selected]="true" [disabled]="true" [value]="null">Person</option>
                                    <option value="privat">Privat</option>
                                    <option value="fizik">Fizik</option>
                                    <option value="juridik">Juridik</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <input class="form-control" type="text" placeholder="Emer Mbiemer ose Ndermarrja shpk" formControlName="emer" />
                            </div>
                            <div class="form-group">
                                <input class="form-control" type="text" placeholder="Telefon"
                                    formControlName="telefon" />
                            </div>
                            <div class="form-group">
                                <input class="form-control" type="email" placeholder="NIUS" formControlName="nius" />
                            </div>
                            <div class="form-group">
                                <input class="form-control" type="email" placeholder="email" formControlName="email" />
                            </div>
                            <div class="form-group">
                                <input class="form-control" type="text" placeholder="adresa" formControlName="adresa" />
                            </div>
                            <!-- <button (click)="regKlientPastajPerfaqesues($event, newKlientForm.value)">REG_Përfaqësues</button> -->
                        </form>
                    </div>
                    <div class="col-6" *ngIf="klientetFinanca">
                        <div *ngIf="!klientIzgjedhurNgaFinanca">
                            <div class="form-group">
                                <input class="form-control" type="text" placeholder="Kerko per klient nga Financa5"
                                    [(ngModel)]="kerko" (ngModelChange)="filterKlientetFinanca($event)" />
                            </div>
                            <span *ngIf="kerko?.length <= 2">{{klientetFinanca?.length}} kliente nga Financa</span>
                            <span *ngIf="kerko?.length > 2">{{klientetFinancaFiltruar?.length}} Rezultate</span>
                            <!-- <table class="table-bordered table-hover">
                                <tr *ngFor="let klientetFiltruar of klientetFinancaFiltruar"
                                    (click)="zgjidhKlientNgaFinanca(klientetFiltruar)">
                                    <td>{{klientetFiltruar?.id}}</td>
                                    <td>{{klientetFiltruar?.kodi}}</td>
                                    <td>{{klientetFiltruar?.pershkrimi}}</td>
                                </tr>
                            </table> -->
                            <p *ngFor="let klientetFiltruar of klientetFinancaFiltruar">
                                <button class="btn btn-xs btn-secondary btn-block"
                                    (click)="zgjidhKlientNgaFinanca(klientetFiltruar)">{{klientetFiltruar?.pershkrimi}}</button>
                            </p>
                        </div>
                        <div *ngIf="klientIzgjedhurNgaFinanca">
                            <table class="table table-bordered table-hover table-sm">
                                <tr *ngFor="let klient of klientZgjedhurNgaFinanca | keyvalue">
                                    <td>{{ klient.key }}</td>
                                    <td>{{ klient.value }}</td>
                                </tr>
                            </table>
                            <button class="btn btn-xs btn-secondary" (click)="pastroKlientinEZgjedhur()" type="button">Cancel</button>
                            <!-- <pre>{{klientZgjedhurNgaFinanca | json}}</pre> -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-sm btn-primary" form="newKlientForm" type="submit"
                    [disabled]="!newKlientForm.valid">Ruaj</button>
                <button class="btn btn-sm btn-secondary" type="submit" (click)="newClient.hide()">Mbyll</button>
            </div>
        </div>
    </div>
</div>

<div bsModal #importClient="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Import Klient Nga Financa5</h4>
                <button type="button" class="close" aria-label="Close" (click)="importClient.hide()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                [NE_NDERTIM]
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="importClient.hide()">Mbyll</button>
            </div>
        </div>
    </div>
</div>